body {
    font-family: Arial, sans-serif;
}

.search-container {
    text-align: center;
    margin: 50px;
}

select {
    width: 300px;
    padding: 10px;
    margin-right: 10px;
    font-size: 16px;
}

option {
    padding: 10px;
}


input[type="text"] {
    -webkit-appearance: none; /* Đối với Chrome, Safari, và Opera */
    -moz-appearance: none; /* Đối với Firefox */
    appearance: none; /* Đối với các trình duyệt hiện đại khác */
}